@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Estilos globais para o toast */
[data-sonner-toaster] {
  @apply fixed inset-0 flex items-center justify-center z-50;
  pointer-events: none;
}

[data-sonner-toast] {
  @apply pointer-events-auto z-50;
}
